<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        *{
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
        }

        a{
            color: black;
            text-decoration: none;
        }

        html{
            height: 100%;
        }

        body{
            font-family: 'Poppins', sans-serif;
            line-height: 1.2;
            color: var(--text-primary);
            background-color: var(--bg-primary);
            transition: all 0.3s ease;
            height: 100%;
        }


       html {
            font-size: 16px;
            scroll-behavior: smooth;
        }

        #navbar {
            width: 100%;
            background-color:rgb(246, 181, 83);
            backdrop-filter: blur(10px);
            z-index: 1000;
            transition: all 0.3s ease;
            }


        .nav-container {
            max-width: 1200px;
            margin: 0 auto;
            padding: 0 1.25rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 70px;
            background-color: aqua;
        }

        .nav-logo a {
            font-size: 1.5rem;
            font-weight: 700;
            outline: none;
            text-decoration: none;
            transition: color 0.3s ease;
        }

        .nav-menu {
            display: flex;
            list-style: none;
            gap: 3rem;
            list-style:none;
            margin: 0;
            padding: 0;
            outline: none;
            text-decoration: none;
        }

        /* .nav-menu li{
            list-style: none;
        } */

        .nav-menu li a{
            color: black;
            outline: none;
            text-decoration: none;
            transition: all 0.3s ease;
        }


        .nav-menu li a:hover{
            border-bottom: 3px solid blue;
        }

        main{
            padding: 1.25rem;
            height: calc(100vh - 70px);
        }

        .container{
            max-width:1200px;
            height: 100%;
            margin: 0 auto;
            padding:0 1.25rem;
            display: flex;
            flex-wrap: wrap;
            gap: 2rem;
        }

        .left-container{
            min-width:12.5rem;
            max-width: 25rem;
            background-color: rgb(238, 216, 227);
            flex: 1;
            height: 100%;
        }
        
        .right-container{
            display: flex;
            flex-direction:column;
            flex: 2;
            background-color: rgb(221, 221, 140);
            height: 100%;
        }

        .inner-container{
            padding: 1rem;
            height: 100%;
            background-color: rgb(202, 173, 229);
            display: flex;
            align-items:flex-start;
            /* justify-content:space-between; */
            gap: 1rem;
            flex-direction: column;
        }

        .inner-nav{
            height: 3rem;
            width: 100%;
            display: flex;
            align-items:center;
            justify-content: space-between;
        }

        .inner-nav i{
            font-size:1.8rem;
        }

        .inner-options{
            height:8rem;
            display: flex;
            /* align-items: center; */
            justify-content: center;
            flex-direction: column;
            gap: 1rem;
        }

        .chat-bar{
            flex: 1;
            overflow-y: scroll;
            width: 100%;
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            gap: 1rem;
            padding-right: 0.5rem;
        }

        .chats{
            height: 3rem;
            width: 100%;
            background-color: rgb(224, 199, 248);
            border-radius: 0.4rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .chats span{
            font-size: 1.3rem;
        }

        .chats i{
            font-size: 1.5rem;
        }


        .inner-container2{
            padding: 1rem 3rem;
            height: 100%;
            background-color: rgb(202, 173, 229);
            display: flex;
            align-items:flex-start;
            /* justify-content:space-between; */
            gap: 1rem;
            flex-direction: column;
        }

        .nav-of-chat{
            height: 3rem;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content:space-between;
        }

        .option-of-chat{
            width: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1.5rem;
            list-style: none;
            text-decoration: none;
        }

        .option-of-chat a{
            color: black;
        }

        .option-of-chat i{
            font-size: 1.5rem;
        }

        .chat-area{
            /* height: 100%; */
            flex: 2;
            background-color: aqua;
            width: 100%;
            display: flex;
            /* align-items: center; */
            /* justify-content:flex-end; */
            flex-direction: column;
            gap: 1rem;
            overflow-y:scroll;
        }

        .chat-area::-webkit-scrollbar{
            width: 0.5rem;
        }

        .msg-user{
            display: flex;
            width: 40%;
            padding: 1rem;
            background-color: rgb(216, 250, 175);
            border-radius: 1rem;
            align-self:flex-end;
        }

        .msg-ai{
            display: flex;
            width: 60%;
            padding: 1rem;
            background-color: rgb(250, 175, 245);
            border-radius: 1rem;
            align-self:flex-start;
        }

        .input-area{
            min-height:4rem;
            max-height:10rem;
            background-color: beige;
            padding: 1rem;
            width: 100%;
            border-radius: 2rem;
        }

        #input-field{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        #input-field button{
            border: none;
            outline: none;
            font-size: 1.5rem;
        }


        #prompt{
            resize: none;
            height: auto;
            min-height: 2rem;
            max-height: 8rem;
            overflow-y: auto;
            width: 100%;
            padding: 0.5rem;
            outline: none;
            border: none;
            background-color: transparent;
        }
    </style>
</head>
<body>
    <nav id="navbar">
        <div class="nav-container">
            <div class="nav-logo">
                <a href="#">Healthy AI</a>
            </div>

                <ul class="nav-menu">
                    <li><a href="#">Newchat</a></li>
                    <li><a href="#">Login</a></li>
                </ul>

            <!-- <div class="humburger">
                <span id="bar">New chat</span>
                <span id="bar">Login</span>
            </div> -->
        </div>
    </nav>


    <main id="main">
        <div class="container">
           <div class="left-container">
            <div class="inner-container">


                <div class="inner-nav">
                    <a href="#"><i class="fa-solid fa-user-doctor"></i></a>
                    <i class="fa-regular fa-square-minus"></i>
                </div>


                <div class="inner-options">
                    <div class="options">
                        <i class="fa-brands fa-rocketchat"></i>
                        <span>Newchat</span>
                    </div>

                    <div class="options">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <span>Search chat</span>
                    </div>

                    <div class="options">
                        <i class="fa-solid fa-server"></i>
                        <span>Newchat</span>
                    </div>
                </div>


                <div class="chat-bar">
                    <div class="chats">
                        <span>Late night talk</span>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>

                    <div class="chats">
                        <span>Late night talk</span>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>

                    <div class="chats">
                        <span>Late night talk</span>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>

                    <div class="chats">
                        <span>Late night talk</span>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </div>
            </div>
           </div> 



           <div class="right-container">
            <div class="inner-container2">
                <div class="nav-of-chat">
                    <h1>logo</h1>

                    <ul class="option-of-chat">
                        <li><a href="#"><i class="fa-solid fa-arrow-up-from-bracket"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-github"></i></a></li>
                        <li><a href="#"><i class="fa-solid fa-user"></i></a></li>
                    </ul>
                </div>

                <div class="chat-area">
                   
                <!-- <div class="msg-user">mera pet dard kr rha hai kay kru</div>
                <div class="msg-ai">ajwain khaa le sale</div>
                <div class="msg-user">abee aii hai to kya tu aise bat krega</div>
                <div class="msg-ai">aree yaar</div> -->
                    

                </div>

                <div class="input-area">
                    <form id="input-field">
                        <textarea name="prompt" id="prompt" placeholder="Ask any shit"></textarea>
                        <button type="submit"><i class="fa-solid fa-paper-plane"></i></button>
                    </form>
                </div>
            </div>
           </div>
        </div>
    </main>



    <script>
        let form = document.getElementById("input-field").addEventListener("submit", async function(e){
        e.preventDefault();

        let userInput = document.querySelector("#prompt").value;
        userMsg(userInput);

        const res = await fetch("/get-reply" , {
            method: "POST",
            headers: {
            "Content-Type": "application/json"
            },
            body: JSON.stringify({ msg: userInput })
        })

        const data = await res.json();


        });


        function userMsg(text) {
            let chatBox = document.querySelector(".chat-area");
            let div = document.createElement("div");
            div.setAttribute("class" , "msg-user")
            div.innerHTML = text;
            chatBox.append(div);
            chatBox.scrollTop = chatBox.scrollHeight;
        }

    </script>
</body>
</html>