<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        
    </style>
</head>
<body>
    <nav id="nav">
        <div class="nav-container">
            <div class="nav-logo">
                <a href="#">Healthy AI</a>
            </div>

            <div class="nav-menu">
                <ul>
                    <li><a href="#">New chat</a></li>
                    <li><a href="#">Login</a></li>
                </ul>
            </div>

            <div class="humburger">
                <span id="bar">New chat</span>
                <span id="bar">Login</span>
            </div>
        </div>
    </nav>

<menu></menu>












</body>
</html>